.sidebar{
    position: fixed;
    width: 73px;
    top: 55px;
    bottom:0;
    left: 0;
    background-color: white;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: rgb(29, 29, 29);
    z-index: 100;


}


/* 
.home_icon, .explore_icon, .subscription_icon, .original_icon, .youtube_music_icon, .library_icon {
    width: 26px;
} */

.side_link{
    height: 74px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4px;
    cursor: pointer;

}

.side_link:hover{
    background-color: lightgray;
}

/* target all image inside the sidelink */

.side_link img{
    height:24px;
}